*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.main{
    background-color: black;
    height: 100%;
    width: 100%;
display: flex;
justify-content: center;
align-items: center;
position: absolute;

}
h1{
    color: white;
    font-size: 200px;
    mix-blend-mode: difference;
    cursor: context-menu;
}
#curser{
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
    position: absolute;
   
transition: all linear 0.1s;
    border-radius: 12px;
}